*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  margin: 0 auto;
  padding-top: 5px;
  margin-top: 60px;
}

/* --BACKGROUND PROPERTIES-- */
div{
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:brown;
  text-decoration: underline overline;
  text-align: center;
}
.big_img{
  background: url("/css/img/forbackground2.jpg");
  background-size: 360px;
}
.small_img{
  background: url("/css/img/forbackground.jpg");
  color: aliceblue;
}
.folder_img{
  background: url("/css/img/forbackground1.jpg");
  color: rgb(0, 0, 0);
}

/* --BACKGROUND-REPEAT-- */
.small_img{
  border: 2px solid red;
  color: rgb(142, 199, 248);
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;
  background-repeat: round;
}
.big_img{
  background-repeat: round; /* помещает в область целое колл-во рисунков, если не помещается больше чем один, он масштабируется */
}


/* --BACKGROUND-SIZE-- */
.big_img{
  background-size: cover;
}
.small_img{
  background-size: cover;
}
.folder_img{
  background-size: contain;
  background-repeat: no-repeat;
}


/* --BACKGROUND-POSITION-- */
.big_img{
  background-size: cover;
  background-repeat: no-repeat;
 /* background-position: center; */
}
.small_img{
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  background-position: left;
  background-position: right;
  background-position: top;

  background-position: 100% 100%;/* движение по оси x и y */
}


/* --BACKGROUND-ATTACHMENT-- */
div{
  min-height: 100vh;
  font-size: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.big_img{
  background: url("/css/img/forbackground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.small_img{
  background: url("/css/img/forbackground1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.folder_img{
  background: url("/css/img/forbackground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

hr{
  height: 100px;
}

/* --BACKGROUND IMAGE SHORTCUTS COMBINED-- */
.banner{
  text-decoration: none;
  background: url("/css/img/forbackground2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.header{
  background: linear-gradient(rgba(255, 238, 0, 0.5), rgba(255, 0, 0, 0.5)), url('/css/img/forbackground2.jpg') center/cover no-repeat fixed; /*важен именно такой порядок */
}

.colorzilla{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+0,ff6600+31,c72200+100 */
  background: #f3c5bd; /* Old browsers */
  background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 0%, #ff6600 31%, #c72200 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 0%,#ff6600 31%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 0%,#ff6600 31%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}