/*/* font-size font-family */
body{
  font-family:'Courier\ New', Courier, monospace
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@import url(https://fonts.google.com/specimen/Roboto);
/* GOOGLE FONTS */
body{
  font-family: "Roboto", sans-serif;
}
h1{
  font-family: "Yesteryear", cursive;
}

/* font-weight
   font-style */
body{
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.main{
  font-family: "Yesteryear", cursive;
}
.subheading{
  font-style: normal;
}
.first{
  font-weight: bold;
  font-style: italic;
}
.second{
  font-weight: lighter;
  font-style: oblique;
}

/* text-align
   text-indent */
body{
  font-family: "Roboto", sans-serif;
  /* text-align: right; */
}
.main{
  font-family: "Yesteryear", cursive;
  text-align: center;
}
.first{
  text-indent: 10rem;
}
.second{
  text-align: left;
}

/* line-height
   letter-spacing
   word-spacing 
   text-transform
   text-decoration */
a{
  font-size: 40px;
  text-decoration: none;
}
div{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}
h1{
  font-family: 'Times New Roman', Times, serif;
  text-transform: lowercase;
  text-decoration: line-through;
}
.one{
  line-height: 0.5em;
}
.two{
  letter-spacing: 5px;
  text-decoration: overline;
  line-height: 2rem;
}
.three{
  word-spacing: 20px;
  text-decoration: underline;
}